I am running inside {{ pod }} pod! Isn't that cool?

{% for message in messages %}
    <p>{{ message["message"] }}</p>
{% endfor %}

<form action="/new" method="post">
    <p><label for="message">Type your message!</label></p>
    <p><input type="text" id="message" name="message"></p>
    <input type="submit" value=" Submit ">
</form>